extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/form-search.pug

block main
    h1 Quản lý sản phẩm 

    .card.mb-3  
        .card-header    Bộ lọc và tìm kiếm
        .card-body
            .row 
                .col-6
                    +filter-status(filterStatus)
                .col-6  
                    +form-search(keyword)


    .card.mb-3  
        .card-header    Danh sách sản phẩm
        .card-body
            table.table.table-hover.table-sm
                thead
                    tr
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Giá
                        th Trạng thái
                        th Thao tác
                tbody
                    each item, index in products
                        tr
                            td= index + 1
                            td
                                img(
                                    src=`${item.thumbnail}` 
                                    alt="Hình ảnh sản phẩm" 
                                    width="100"
                                    height="100"
                                    style="object-fit: cover;"
                                )
                            td= item.title
                            td= item.price + " $"
                            td
                                if item.status === "active"
                                    a(href="#" class="btn btn-sm btn-success") Hoạt động
                                else
                                    a(href="#" class="btn btn-sm btn-danger") Dừng hoạt động
                            td
                                button(class="btn btn-sm btn-primary")
                                    i.fas.fa-edit
                                button(class="btn btn-sm btn-danger")
                                    i.fas.fa-trash


    nav(aria-label='Page navigation example')
      ul.pagination
        if (pagination.currentPage > 1)
            li.page-item
            button(
                class="page-link"
                button-pagination=pagination.currentPage - 1
                ) Previous

        - for (var i = 1; i <= pagination.totalPage; i++)
            li(class=`page-item ${pagination.currentPage === i ? "active" : ""}`)
                button(
                    class="page-link"
                    button-pagination=i
                ) #{i}

        if (pagination.currentPage < pagination.totalPage)
            li.page-item
            button(
                class="page-link" 
                button-pagination=pagination.currentPage + 1
            ) Next
                